<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.Initial.common.repository.ComboDataMapper">

    <resultMap id="comboDataMap" type="htms.Initial.common.dto.CommonComboData">
        <result column="code" property="code"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="searchComboDept" resultMap="comboDataMap">
        select
            dept_cd as code,
            concat(dept_nm, '(', dept_cd, ')') as name
        from mas_dept sd
        where 1=1
        and use_yn = 'Y'
        and tree_level = 3
        <choose>
            <when test="sysPlantCd == '-1'">
                and 1 != 1
            </when>
            <otherwise>
                and sd.sys_plant_cd = #{sysPlantCd}
            </otherwise>
        </choose>
        order by sd.ord_no asc
    </select>

    <select id="searchComboPlant" resultMap="comboDataMap">
        select
            plant_cd as code,
            concat(plant_nm, '(', plant_cd, ')') as name
        from sys_plant sp
        where 1=1
        and delete_yn = 'N'
        and use_yn = 'Y'
    </select>

    <select id="searchComboRank" resultMap="comboDataMap">
        select
            rank_cd as code,
            concat(rank_nm, '(', rank_cd, ')') as name
        from mas_rank mr
        where 1=1
        and sys_plant_cd = #{sysPlantCd}
    </select>
</mapper>
