<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.Initial.common.repository.CommonMenuMapper">

    <select id="getAdminYn" resultType="boolean">
        select
            case
                when dept_cd = 'ADMIN'
                    then true
                else false
            end as is_admin
        from sys_user
        where 1=1
        and user_id = #{userId}
        and delete_yn = 'N'
    </select>

    <select id="getAdminMenuLevel1Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sdmm.depth1_menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            null as menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from sys_menu_admin_role smar
        left join sys_depth1_menu_master sdmm
            on sdmm.depth1_menu_cd = smar.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{userId}
        and smar.use_yn = 'Y'
        and smar.menu_level = #{menuLevel}
        order by smar.ord_no asc
    </select>

    <select id="getAdminMenuLevel2Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sml.menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            null as menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from sys_menu_admin_role smar
        left join sys_depth23_menu sdm
            on sdm.menu_cd = smar.menu_cd
        left join sys_menu_list sml
            on sml.menu_cd = sdm.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{sysPlantCd}
        and sdm.sys_plant_cd = #{sysPlantCd}
        and sdm.parent_menu_cd = #{menuCd}
        and use_yn = 'Y'
        and sdm.menu_level = #{menuLevel}
        order by ord_no asc
    </select>

    <select id="getAdminMenuLevel3Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sml.menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            sml.menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from sys_menu_admin_role smar
        left join sys_depth23_menu sdm
            on sdm.menu_cd = smar.menu_cd
        left join sys_menu_list sml
            on sml.menu_cd = sdm.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{sysPlantCd}
        and sdm.sys_plant_cd = #{sysPlantCd}
        and sdm.parent_menu_cd = #{menuCd}
        and use_yn = 'Y'
        and sdm.menu_level = #{menuLevel}
        order by ord_no asc
    </select>

    <select id="getUserMenuLevel1Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sdmm.depth1_menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            null as menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from mas_menu_user_role smar
        left join sys_depth1_menu_master sdmm
            on sdmm.depth1_menu_cd = smar.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{sysPlantCd}
        and use_yn = 'Y'
        and menu_level = #{menuLevel}
        order by ord_no asc
    </select>

    <select id="getUserMenuLevel2Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sml.menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            null as menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from mas_menu_user_role smar
        left join sys_menu_list sml
            on sml.menu_cd = smar.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{sysPlantCd}
        and parent_menu_cd = #{menuCd}
        and use_yn = 'Y'
        and menu_level = #{menuLevel}
        order by ord_no asc
    </select>

    <select id="getUserMenuLevel3Depth" resultType="htms.Initial.common.dto.CommonMenu">
        select
            smar.sys_id ,
            smar.link_sys_id ,
            smar.menu_cd ,
            coalesce(sml.menu_nm, smar.menu_nm) as menu_nm,
            smar.parent_menu_cd ,
            smar.ord_no ,
            smar.menu_level ,
            sml.menu_url,
            smar.use_yn,
            smar.reset_yn,
            smar.new_yn,
            smar.del_yn,
            smar.save_yn,
            smar.print_yn,
            smar.search_yn
        from mas_menu_user_role smar
        left join sys_menu_list sml
            on sml.menu_cd = smar.menu_cd
        where 1=1
        and smar.sys_plant_cd = #{sysPlantCd}
        and parent_menu_cd = #{menuCd}
        and use_yn = 'Y'
        and menu_level = #{menuLevel}
        order by ord_no asc
    </select>
</mapper>
