<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.Initial.common.repository.CommonComboMapper">

    <resultMap id="commonComboResultMap" type="htms.Initial.common.dto.CommonCombo">
        <result column="sys_id" property="sysId"/>
        <result column="common_cd" property="commonCd"/>
        <result column="common_nm" property="commonNm"/>
    </resultMap>

    <select id="getCommonComboCommonCd" resultMap="commonComboResultMap">
        select
            scd.sys_id,
            scd.common_cd,
            scd.common_nm
        from sys_common_detail scd
        left join sys_common_master scm
            on scm.sys_id = scd.link_sys_id
        where 1=1
        and scm.common_cd = #{commonCd}
        and scd.delete_yn = 'N'
        and scd.use_yn = 'Y'
        order by scd.ord_no asc
    </select>

    <select id="getCommonComboSysId" resultMap="commonComboResultMap">
        select
        scd.sys_id,
        scd.common_cd,
        scd.common_nm
        from sys_common_detail scd
        left join sys_common_master scm
            on scm.sys_id = scd.link_sys_id
        where 1=1
        and scm.sys_id = #{sysId}
        and scd.delete_yn = 'N'
        and scd.use_yn = 'Y'
        order by scd.ord_no asc
    </select>
</mapper>
