<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.Initial.common.repository.CommonAuthMapper">

    <select id="getMenuButtonAuth" resultType="htms.Initial.common.dto.CommonAuth">
        select
            reset_yn ,
            new_yn ,
            del_yn ,
            save_yn ,
            print_yn ,
            search_yn
        from sys_menu_admin_role smar
        left join sys_plant sp
            on sp.sys_id = smar.link_sys_id
        where 1=1
        and sp.plant_cd = #{sysPlantCd}
        and menu_cd = #{menuCd}
        and sp.delete_yn = 'N'
        and sp.use_yn = 'Y'
    </select>
</mapper>
