<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.auth.repository.EmailValidMapper">

    <select id="codeExist" resultType="boolean">
        select
            count(*) > 0
        from sys_email_valid
        where 1=1
        and encode_sys_id = #{encodeSysId}
    </select>

    <update id="emailValid">
        update sys_email_valid set
            email_valid_yn = 'Y',
            modify_datetime = now(),
        where 1=1
        and encode_sys_id = #{encodeSysID}
    </update>

</mapper>
