<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.auth.repository.LoginMapper">
    <select id="findByUserId" resultType="Login">
        select
            su.sys_id,
            su.user_id,
            su.user_nm,
            su.user_password,
            su.password_fail_cnt,
            su.init_yn,
            su.email_valid_yn,
            su.plant_cd as sys_plant_cd ,
            su.user_role
        from sys_user su
        where 1=1
        and su.user_id = #{userId}
        and su.delete_yn = 'N'
    </select>

    <update id="initPwd">
        update sys_user set
            init_yn = 'Y',
            user_password = #{initPwdRequest.password}
        where 1=1
        and user_id = #{userId}
        and su.delete_yn = 'N'
    </update>

    <update id="pwdIncorrectCntIncrease">
        update sys_user set
            password_fail_cnt = password_fail_cnt + 1
        where 1=1
        and sys_id = #{sysId}
    </update>

    <update id="pwdCntReset">
        update sys_user set
            password_fail_cnt = 0
        where 1=1
        and sys_id = #{sysId}
    </update>

    <update id="initPwdAndActive">
        update sys_user set
            user_password = #{initPwdRequest.password},
            password_fail_cnt = 0,
            init_yn = 'N'
        where 1=1
        and user_id = #{userId}
        and su.delete_yn = 'N'
    </update>
</mapper>
