<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.auth.repository.SignUpMapper">

    <insert id="newPlant">
        insert into sys_plant (
            sys_id,
            plant_cd,
            plant_nm,
            use_yn,
            delete_yn,
            insert_datetime,
            insert_user_id,
            emp_nm,
            phone_number,
            reg_num
        )
        values (
            #{signUpRequest.sysId},
            #{signUpRequest.businessRegiNum},
            #{signUpRequest.plantNm},
            'Y',
            'N',
            now(),
            #{signUpRequest.userId},
            #{signUpRequest.userNm},
            #{signUpRequest.phoneNumber},
            #{signUpRequest.businessRegiNum}
        )
    </insert>

    <insert id="newUser">
        insert into sys_user (
            sys_id ,
            user_id ,
            user_nm ,
            user_password ,
            email ,
            email_valid_yn ,
            init_yn ,
            password_fail_cnt ,
            delete_yn,
            insert_user_id ,
            insert_datetime,
            sys_plant_cd
        )
        values (
            #{signUpRequest.sysId},
            #{signUpRequest.userId},
            #{signUpRequest.userNm},
            #{signUpRequest.userPassword},
            #{signUpRequest.email} ,
            'N',
            'N',
            0,
            'N',
            #{userId},
            now(),
            #{signUpRequest.businessRegiNum}
        )
    </insert>

    <insert id="newEmailChk">
        insert into sys_email_valid (
            sys_id ,
            link_sys_id ,
            encode_sys_id ,
            valid_code ,
            email_valid_yn ,
            insert_datetime
        )
        values (
            #{sysId},
            #{linkSysId},
            #{encodeSysId},
            #{validCode},
            'N',
            now()
        )
    </insert>

    <select id="idDuplicateChk" resultType="boolean">
        select
            count(*) > 0
        from sys_user
        where 1=1
        and user_id = #{userId}
        and delete_yn = 'N'
    </select>

    <update id="emailValid">
        update sys_email_valid set
            email_valid_yn = 'Y',
            modify_datetime = now()
        where 1=1
        and encode_sys_id = #{encodeSysId}
    </update>

</mapper>