<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.Initial.popup.repository.PopupPasswordRoleMapper">

    <select id="getPasswordRole" resultType="htms.Initial.popup.dto.PopupPasswordRole">
        select
            coalesce(spr.use_yn, 'N') as use_yn,
            coalesce(spr.min_length, 0) as min_length,
            coalesce(spr.max_length, 0) as max_length,
            coalesce(spr.min_uppercase, 0) as min_uppercase,
            coalesce(spr.min_lowercase, 0) as min_lowercase,
            coalesce(spr.min_number, 0) as min_number,
            coalesce(spr.min_special, 0) as min_special
        from sys_plant sp
        left join sys_password_role spr
            on spr.link_sys_id = sp.sys_id
        where 1=1
        and sp.plant_cd != 'ADMIN'
        and sp.use_yn = 'Y'
        and sp.delete_yn = 'N'
        and sp.plant_cd = #{sysPlantCd}
    </select>

    <select id="chkPasswordCorrect" resultType="String">
        select
            user_password
        from sys_user su
        where 1=1
        and su.sys_id = #{sysId}
        and su.delete_yn = 'N'
        and su.use_yn = 'Y'
    </select>

    <update id="changePassword">
        update sys_user set
            user_password = #{chkNewPwd}
        where 1=1
        and sys_id = #{sysId}
    </update>

</mapper>
