<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.audit.repository.AuditMapper">

    <select id="getTableInfo" resultType="htms.QROrder.audit.domain.TableInfo">
        SELECT
            c.relname AS table_name,
            a.attname AS column_name,
            d.description AS column_comment
        FROM pg_class c
        JOIN pg_namespace n
            ON n.oid = c.relnamespace
        JOIN pg_attribute a
            ON a.attrelid = c.oid
        LEFT JOIN pg_description d
            ON d.objoid = a.attrelid
            AND d.objsubid = a.attnum
        WHERE c.relkind = 'r'
        AND n.nspname = 'public'
        AND a.attnum > 0
        AND NOT a.attisdropped
        and c.relname = #{tableName}
        ORDER BY c.relname, a.attnum;
    </select>

    <insert id="insertNewSingleAuditTrailData">
        insert into sys_audit_trail (
            audit_sys_id,
            audit_flag ,
            ref_key ,
            menu_cd ,
            table_nm ,
            audit_trail_contents ,
            insert_datetime ,
            insert_user_id ,
            sys_plant_cd
        )
        values (
            #{audit.auditSysId},
            #{audit.auditFlag},
            #{refKey},
            #{audit.menuCd},
            #{audit.tableNm},
            #{audit.auditTrailContents},
            now(),
            #{userId},
            #{sysPlantCd}
        )
    </insert>

    <insert id="insertNewMultiAuditTrailData">
        insert into sys_audit_trail (
            audit_sys_id,
            audit_flag ,
            ref_key ,
            menu_cd ,
            table_nm ,
            audit_trail_contents ,
            insert_datetime ,
            insert_user_id ,
            sys_plant_cd
        )
        values
        <foreach collection="audit" item="item" separator=",">
            (
                #{item.auditSysId},
                #{item.auditFlag},
                #{item.refKey},
                #{item.menuCd},
                #{item.tableNm},
                #{item.auditTrailContents},
                now(),
                #{userId},
                #{sysPlantCd}
            )
        </foreach>
    </insert>

    <insert id="insertUpdateSingleAuditTrailData">
        insert into sys_audit_trail (
            audit_sys_id,
            audit_flag ,
            ref_key ,
            menu_cd ,
            table_nm ,
            audit_trail_contents ,
            insert_datetime ,
            insert_user_id ,
            sys_plant_cd
        )
        values (
            #{audit.auditSysId},
            #{audit.auditFlag},
            #{refKey},
            #{audit.menuCd},
            #{audit.tableNm},
            #{audit.auditTrailContents},
            now(),
            #{userId},
            #{sysPlantCd}
        )
    </insert>

    <insert id="insertUpdateMultiAuditTrailData">
        insert into sys_audit_trail (
            audit_sys_id,
            audit_flag ,
            ref_key ,
            menu_cd ,
            table_nm ,
            audit_trail_contents ,
            insert_datetime ,
            insert_user_id ,
            sys_plant_cd
        )
        values
        <foreach collection="audit" item="item" separator=",">
            (
                #{item.auditSysId},
                #{item.auditFlag},
                #{item.refKey},
                #{item.menuCd},
                #{item.tableNm},
                #{item.auditTrailContents},
                now(),
                #{userId},
                #{sysPlantCd}
            )
        </foreach>
    </insert>

    <insert id="insertDeleteAuditTrailData">
        insert into sys_audit_trail (
            audit_sys_id,
            audit_flag ,
            ref_key ,
            menu_cd ,
            table_nm ,
            audit_trail_contents ,
            insert_datetime ,
            insert_user_id ,
            sys_plant_cd
        )
        values
        <foreach collection="audit" item="item" separator=",">
            (
                #{item.auditSysId},
                #{item.auditFlag},
                #{item.refKey},
                #{item.menuCd},
                #{item.tableNm},
                #{item.auditTrailContents},
                now(),
                #{userId},
                #{sysPlantCd}
            )
        </foreach>
    </insert>
</mapper>
