<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.NoticeMapper">

    <select id="getNotice" resultType="htms.QROrder.client.dto.NoticeResponse">
        select
            bn.sys_id,
            bn.notice_title,
            su.user_nm as write_user_name,
            bn.start_date as open_date,
            bn.notice_description,
            bn.file_ulid
        from brd_notice bn
        left join sys_user su
            on su.user_id = bn.insert_user_id
        where 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
        and (bn.notice_title like concat('%', #{searchKeyword}, '%')
                or bn.notice_description like concat('%', #{searchKeyword}, '%'))
        </if>
        and bn.delete_yn = 'N'
        and bn.use_yn = 'Y'
        <![CDATA[ and bn.start_date <= now() ]]>
    </select>

</mapper>
