<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.OrderHistoryMapper">

    <select id="getOrderMasterHistory" resultType="htms.QROrder.client.dto.OrderMasterHistoryItem">
        select
            om.sys_id ,
            om.link_sys_id,
            ti.table_num ,
            og.order_num ,
            case
                when exists (
                    select
                        1
                    from order_detail od2
                    where od2.link_sys_id = om.sys_id
                    and od2.payment_yn = 'N'
                ) then 'N'
                else 'Y'
            end as payment_status ,
            om.order_status ,
            null as order_status_nm ,
            0 as total_price ,
            om.insert_datetime as order_start_datetime
        from order_detail od
        left join order_group og
            on og.sys_id = od.link_sys_id3
        left join order_master om
            on om.sys_id = od.link_sys_id
        left join table_info ti
            on ti.sys_id = om.link_sys_id
            and ti.use_yn = 'Y'
            and ti.delete_yn = 'N'
        where 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            and (ti.table_num like concat('%', #{searchKeyword}, '%')
                    or og.order_num like concat('%', #{searchKeyword}, '%'))
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            and om.order_status = #{orderStatus}
        </if>
        and om.sys_plant_cd = #{sysPlantCd}
        and om.insert_datetime::date between #{startDate}::date and #{endDate}::date
        group by om.sys_id, om.link_sys_id, ti.table_num, og.order_num, om.order_status, om.insert_datetime
    </select>

    <select id="getOrderMasterTotalPrice" resultType="htms.QROrder.client.dto.OrderTotalPriceItem">
        select
            od.link_sys_id ,
            sum(smd.menu_price * od.qty + coalesce(opt_sum.option_price, 0)) as total_price
        from order_detail od
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        left join (
            select odo.link_sys_id, sum(smod.menu_option_price * odo.qty) as option_price
            from order_detail_option odo
            left join store_menu_option_detail smod
                on smod.sys_id = odo.link_sys_id2
            group by odo.link_sys_id
        ) opt_sum on opt_sum.link_sys_id = od.sys_id
        where 1=1
        and od.link_sys_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by od.link_sys_id
    </select>

    <select id="getOrderDetailHistory" resultType="htms.QROrder.client.dto.OrderDetailHistoryItem">
        select
            od.sys_id ,
            od.link_sys_id as master_sys_id ,
            smd.menu_name ,
            smd.menu_price * od.qty as menu_price ,
            null as menu_option ,
            od.insert_datetime as order_datetime
        from order_detail od
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        where 1=1
        and od.link_sys_id in
        <foreach collection="list" item="id" open="(" separator="," close=")" >
            #{id}
        </foreach>
    </select>

    <select id="getOrderDetailTotalPrice" resultType="htms.QROrder.client.dto.OrderTotalPriceItem">
        select
            odo.link_sys_id ,
            sum(smod.menu_option_price * odo.qty) as total_price
        from order_detail_option odo
        left join store_menu_option_detail smod
            on smod.sys_id = odo.link_sys_id2
        where 1=1
        and odo.link_sys_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by odo.link_sys_id
    </select>

    <select id="getOrderDetailOption" resultType="htms.QROrder.client.dto.OrderDetailOptionItem">
        select
            odo.link_sys_id as master_sys_id,
            concat(smod.menu_option_name, smod.menu_option_price) as menu_option
        from order_detail_option odo
        left join store_menu_option_detail smod
            on smod.sys_id = odo.link_sys_id2
        where 1=1
        and smod.sys_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
