<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.PaymentInfoDetailMapper">

    <select id="getPaymentInfoDetail" resultType="htms.QROrder.client.dto.PaymentInfoDetailResponse">
        select
            og.sys_id ,
            og.order_num ,
            og.order_status ,
            og.cancel_reason ,
            og.cancel_description ,
            json_agg(
                json_build_object(
                    'menuName', smd.menu_name ,
                    'qty', od.qty ,
                    'price', smd.menu_price ,
                    'totalPrice',   case
                                        when od.payment_yn = 'Y'
                                            then smd.menu_price * od.qty
                                        else 0
                                    end ,
                    'paymentYn', od.payment_yn ,
                    'options', (
                        select json_agg(json_build_object(
                            'optionName', smod.menu_option_name ,
                            'qty', odo.qty ,
                            'price', smod.menu_option_price ,
                            'totalPrice',   case
                                                when od.payment_yn = 'Y'
                                                    then smod.menu_option_price * odo.qty
                                                else 0
                                            end
                        ))
                        from order_detail_option odo
                        left join store_menu_option_detail smod
                            on smod.sys_id = odo.link_sys_id2
                        where odo.link_sys_id = od.sys_id
                    )
                )
            ) as items
        from order_group og
        inner join order_detail od
            on od.link_sys_id3 = og.sys_id
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        where og.link_sys_id = #{masterSysId}
        group by og.sys_id, og.order_num, og.order_status, og.cancel_reason, og.cancel_description
    </select>

</mapper>
