<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.PaymentInfoMasterMapper">

    <select id="getClientUser" resultType="htms.QROrder.client.dto.PaymentInfoMasterResponse">
        select
            om.sys_id ,
            concat(ti.table_num, '(', ti.table_name, ')') as table_info ,
            om.payment_type ,
            om.order_status ,
            om.insert_datetime as order_datetime ,
            coalesce(price_sum.total_price, 0) as total_price
        from order_master om
        left join table_info ti
            on ti.sys_id = om.link_sys_id
        left join (
            select
                og.link_sys_id as order_master_sys_id ,
                sum(
                    case
                        when od.payment_yn = 'Y'
                            then smd.menu_price * od.qty + coalesce(opt_sum.option_price, 0)
                        else 0
                    end
                ) as total_price
            from order_group og
            inner join order_detail od
                on od.link_sys_id3 = og.sys_id
            left join store_menu_detail smd
                on smd.sys_id = od.link_sys_id2
            left join (
                select
                    odo.link_sys_id ,
                    sum(smod.menu_option_price * odo.qty) as option_price
                from order_detail_option odo
                left join store_menu_option_detail smod
                    on smod.sys_id = odo.link_sys_id2
                group by odo.link_sys_id
            ) opt_sum on opt_sum.link_sys_id = od.sys_id
            group by og.link_sys_id
        ) price_sum on price_sum.order_master_sys_id = om.sys_id
        where 1=1
        <if test="paymentStatus != null and paymentStatus != ''">
            and om.order_status = #{paymentStatus}
        </if>
        and om.insert_datetime::date between #{startDate} and #{endDate}
        and om.sys_plant_cd = #{sysPlantCd}
    </select>

</mapper>
