<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.ClientQnaMapper">

    <select id="getQna" resultType="htms.QROrder.client.dto.ClientQnaResponse">
        select
            bq.sys_id,
            bq.qna_title,
            su.user_nm as write_user_name,
            bq.qna_description,
            bq.insert_datetime as write_datetime,
            bq.file_ulid,
            bq.answer_yn,
            su2.user_nm as answer_user_name,
            bq.answer_datetime,
            bq.answer_description
        from brd_qna bq
        left join sys_user su
            on su.user_id = bq.insert_user_id
        left join sys_user su2
            on su2.user_id = bq.answer_user_id
        where 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            and (bq.qna_title like concat('%', #{searchKeyword}, '%')
            or bq.qna_description like concat('%', #{searchKeyword}, '%'))
        </if>
        and bq.sys_plant_cd = #{sysPlantCd}
        and bq.delete_yn = 'N'
    </select>

    <insert id="newQna">
        insert into brd_qna (
            sys_id ,
            qna_title ,
            qna_description ,
            delete_yn ,
            file_ulid ,
            answer_yn ,
            answer_user_id ,
            answer_datetime ,
            answer_description ,
            insert_user_id ,
            insert_datetime ,
            sys_plant_cd
        )
        values (
            #{qnaRequest.sysId},
            #{qnaRequest.qnaTitle},
            #{qnaRequest.qnaDescription},
            'N',
            #{qnaRequest.fileUlid},
            'N',
            null,
            null,
            null,
            #{userId},
            now(),
            #{sysPlantCd}
        )
    </insert>

    <update id="updateQna">
        update brd_qna set
            qna_title = #{qnaRequest.qnaTitle},
            qna_description = #{qnaRequest.qnaDescription},
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{qnaRequest.sysId}
    </update>

    <delete id="delQna">
        update brd_qna set
            delete_yn = 'Y',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{qnaRequest.sysId}
    </delete>

</mapper>
