<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.StaffCallNotificationMapper">
    <select id="findUnread" resultType="htms.QROrder.client.dto.StaffCallNotificationItem">
        select master.sys_id as master_sys_id,
               item.sys_id,
               item.call_cd,
               coalesce(setting.call_nm, item.call_cd) as call_nm,
               item.description,
               item.quantity,
               master.insert_datetime
        from consumer_staff_call_master master
        join consumer_staff_call item
          on item.link_sys_id = master.sys_id
        left join consumer_staff_call_setting setting
          on setting.sys_plant_cd = master.sys_plant_cd
         and setting.call_cd = item.call_cd
        where master.sys_plant_cd = #{sysPlantCd}
          and master.read_yn = 'N'
        order by master.insert_datetime asc, master.sys_id asc, item.sys_id asc
    </select>

    <update id="markAllRead">
        update consumer_staff_call_master
        set read_yn = 'Y'
        where sys_plant_cd = #{sysPlantCd}
          and read_yn = 'N'
    </update>
</mapper>
