<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.client.repository.StatusMapper">

    <select id="getStatusHeaderItems" resultType="htms.QROrder.client.dto.StatusItem$Header">
        select
            og.sys_id,
            og.order_num ,
            ti.table_num ,
            og.insert_datetime as order_datetime,
            og.modify_datetime as update_datetime,
            om.order_status
        from order_group og
        left join order_master om
            on om.sys_id = og.link_sys_id
        left join table_info ti
            on ti.sys_id = om.link_sys_id
        where 1=1
        and sys_plant_cd = #{sysPlantCd}
        and og.order_status != '04'
    </select>

    <select id="getStatusBodyItems" resultType="htms.QROrder.client.dto.StatusItem$Body">
        select
            od.link_sys_id3 as link_sys_id ,
            'MENU' as row_type ,
            od.sys_id as detail_sys_id ,
            null as parent_detail_sys_id ,
            smd.menu_name as item_name ,
            od.qty ,
            od.payment_yn
        from order_detail od
        left join order_group og
            on og.sys_id = od.link_sys_id3
        left join order_master om
            on om.sys_id = og.link_sys_id
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        where 1=1
        and od.sys_plant_cd = #{sysPlantCd}
        and og.order_status != '04'
        union all
        select
            od.link_sys_id3 as link_sys_id ,
            'OPTION' as row_type ,
            odo.sys_id as detail_sys_id ,
            odo.link_sys_id as parent_detail_sys_id ,
            smod.menu_option_name as item_name ,
            odo.qty ,
            'Y' as payment_yn
        from order_detail od
        left join order_group og
            on og.sys_id = od.link_sys_id3
        left join order_master om
            on om.sys_id = og.link_sys_id
        left join order_detail_option odo
            on odo.link_sys_id = od.sys_id
        left join store_menu_option_detail smod
            on smod.sys_id = odo.link_sys_id2
        where 1=1
        and od.sys_plant_cd = #{sysPlantCd}
        and og.order_status != '04'
    </select>

    <select id="getStatusFooterItems" resultType="htms.QROrder.client.dto.StatusItem$Footer">
        select
            od.link_sys_id3 as sys_id ,
            sum(
                case
                    when od.payment_yn = 'Y'
                        then smd.menu_price * od.qty + coalesce(opt_sum.option_price, 0)
                    else 0
                end
            ) as total_price
        from order_detail od
        left join order_group og
            on og.sys_id = od.link_sys_id3
        left join order_master om
            on om.sys_id = og.link_sys_id
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        left join (
            select odo.link_sys_id , sum(smod.menu_option_price * odo.qty) as option_price
            from order_detail_option odo
            left join store_menu_option_detail smod
                on smod.sys_id = odo.link_sys_id2
            group by odo.link_sys_id
        ) opt_sum on opt_sum.link_sys_id = od.sys_id
        where 1=1
        and od.sys_plant_cd = #{sysPlantCd}
        and og.order_status != '04'
        group by od.link_sys_id3
    </select>

    <update id="cancelOrder">
        update order_group set
            order_status = '99!',
            cancel_yn = 'Y',
            cancel_reason = #{cancelReason},
            cancel_description = #{cancelDescription},
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{header.sysId}
    </update>

    <update id="goToCooking">
        update order_group set
            order_status = '02',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{header.sysId}
    </update>

    <update id="backToReceiveOrder">
        update order_group set
            order_status = '01',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{header.sysId}
    </update>

    <update id="goToServingComplete">
        update order_group set
            order_status = '03',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{header.sysId}
    </update>

    <update id="backToCooking">
        update order_group set
            order_status = '02',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{header.sysId}
    </update>

    <update id="paymentCompleteOrderMaster">
        update order_master set
            payment_type = #{paymentType},
            order_status = '02',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{sysId}
    </update>

    <update id="paymentCompleteOrderGroup">
        update order_group set
            order_status = '04',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and link_sys_id = #{sysId}
        and order_status != '99!'
    </update>

    <update id="paymentNotCompleteOrderMaster">
        update order_master set
            unpaid_reason = #{unpaidReason},
            unpaid_description = #{unpaidDescription},
            order_status = '03',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id = #{sysId}
    </update>

    <update id="paymentNotCompleteOrderGroup">
        update order_group set
            order_status = '05',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and link_sys_id = #{sysId}
    </update>

    <select id="getStatusCancelResponses" resultType="htms.QROrder.client.dto.StatusCancelResponse">
        select
            cancel_reason ,
            cancel_description
        from order_group og
        where 1=1
        and sys_id = #{sysId}
    </select>

    <select id="getPaymentCompleteHeaders" resultType="htms.QROrder.client.dto.PaymentCompleteResponse$Header">
        select
            om.sys_id ,
            concat(ti.table_num, '(', ti.table_name, ')') as table_info ,
            om.insert_datetime as order_datetime
        from order_master om
        left join table_info ti
            on ti.sys_id = om.link_sys_id
        inner join order_group og
            on og.link_sys_id = om.sys_id
        where 1=1
        and og.sys_id = #{sysId}
    </select>

    <select id="getPaymentCompleteBodyItems" resultType="htms.QROrder.client.dto.PaymentCompleteResponse$Body">
        select
            od.link_sys_id3 as link_sys_id ,
            'MENU' as row_type ,
            od.sys_id as detail_sys_id ,
            null as parent_detail_sys_id ,
            smd.menu_name as item_name ,
            od.qty ,
            od.payment_yn
        from order_detail od
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        where 1=1
        and od.link_sys_id3 = #{sysId}
        union all
        select
            od.link_sys_id3 as link_sys_id ,
            'OPTION' as row_type ,
            odo.sys_id as detail_sys_id ,
            odo.link_sys_id as parent_detail_sys_id ,
            smod.menu_option_name as item_name ,
            odo.qty ,
            'Y' as payment_yn
        from order_detail od
        inner join order_detail_option odo
            on odo.link_sys_id = od.sys_id
        left join store_menu_option_detail smod
            on smod.sys_id = odo.link_sys_id2
        where 1=1
        and od.link_sys_id3 = #{sysId}
    </select>

    <select id="getPaymentCompleteFooterItems" resultType="htms.QROrder.client.dto.PaymentCompleteResponse$Footer">
        select
            od.link_sys_id3 as sys_id ,
            sum(
                case
                    when od.payment_yn = 'Y'
                        then smd.menu_price * od.qty + coalesce(opt_sum.option_price, 0)
                    else 0
                end
            ) as total_price
        from order_detail od
        left join store_menu_detail smd
            on smd.sys_id = od.link_sys_id2
        left join (
            select odo.link_sys_id , sum(smod.menu_option_price * odo.qty) as option_price
            from order_detail_option odo
            left join store_menu_option_detail smod
                on smod.sys_id = odo.link_sys_id2
            group by odo.link_sys_id
        ) opt_sum on opt_sum.link_sys_id = od.sys_id
        where 1=1
        and od.link_sys_id3 = #{sysId}
        group by od.link_sys_id3
    </select>

    <update id="changeOrder">
        update order_detail set
            payment_yn = 'N',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id in
        <foreach collection="listDetailSysId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
