<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.home.repository.HomeMapper">

    <select id="chkDomainExist" resultType="boolean">
        select
            count(*) > 0
        from sys_plant sp
        where 1=1
        and domain_url = #{domainUrl}
        and delete_yn = 'N'
        and use_yn = 'Y'
    </select>

    <select id="getPlant" resultType="htms.QROrder.system.domain.Plant">
        select
            sys_id ,
            plant_cd ,
            plant_nm ,
            domain_url ,
            use_yn
        from sys_plant sp
        where 1=1
        and delete_yn = 'N'
        and use_yn = 'Y'
        and plant_cd != 'ADMIN'
        and domain_url = #{domainUrl}
    </select>
</mapper>
