<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.system.repository.PlantMapper">

    <select id="findPlantBySearchCond" resultType="htms.QROrder.system.domain.Plant">
        select
            sys_id,
            plant_cd,
            plant_nm,
            email_url,
            store_nm,
            emp_nm,
            zip_code,
            address,
            phone_number,
            use_yn
        from sys_plant
        where 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            and (
                plant_cd like concat('%', #{searchKeyword}, '%') or
                plant_nm like concat('%', #{searchKeyword}, '%')
            )
        </if>
        and delete_yn = 'N'
        order by plant_cd asc
    </select>

    <select id="findByDomainUrl" resultType="htms.QROrder.system.domain.Plant">
        select
            sys_id,
            plant_cd,
            plant_nm,
            email_url,
            store_nm,
            emp_nm,
            zip_code,
            address,
            phone_number,
            use_yn
        from sys_plant
        where domain_url = #{domainUrl}
        and use_yn = 'Y'
        and delete_yn = 'N'
    </select>

    <delete id="delPlantByCheckCond">
        update sys_plant set
            delete_yn = 'Y',
            modify_datetime = now(),
            modify_user_id = #{userId}
        where 1=1
        and sys_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <insert id="newPlant">
        insert into sys_plant (
            sys_id ,
            plant_cd ,
            plant_nm ,
            email_url ,
            store_nm ,
            emp_nm ,
            zip_code ,
            address ,
            phone_number ,
            use_yn ,
            delete_yn ,
            insert_datetime ,
            insert_user_id
        )
        values (
            #{plant.sysId},
            #{plant.plantCd},
            #{plant.plantNm},
            #{plant.emailUrl},
            #{plant.storeNm},
            #{plant.empNm},
            #{plant.zipCode},
            #{plant.address},
            #{plant.phoneNumber},
            #{plant.useYn},
            'N',
            now(),
            #{userId}
        )
    </insert>

    <select id="checkDuplicate" resultType="boolean">
        select
            COUNT(*) > 0
        from sys_plant
        where 1=1
        and plant_cd = #{plantCd}
    </select>

    <update id="updatePlant">
        update sys_plant set
            plant_nm = #{plant.plantNm},
            email_url = #{plant.emailUrl},
            store_nm = #{plant.storeNm},
            emp_nm = #{plant.empNm},
            zip_code = #{plant.zipCode},
            address = #{plant.address},
            phone_number = #{plant.phoneNumber},
            use_yn = #{plant.useYn},
            modify_datetime = now(),
            modify_user_id = #{userId}
        where 1=1
        and sys_id = #{plant.sysId}
    </update>

    <select id="getOldData" resultType="htms.QROrder.system.domain.Plant">
        select
            sys_id,
            plant_cd,
            plant_nm,
            email_url,
            store_nm,
            emp_nm,
            zip_code,
            address,
            phone_number,
            use_yn
        from sys_plant
        where 1=1
        and sys_id = #{sysId}
    </select>
</mapper>
