<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htms.QROrder.system.repository.RuleDetailMapper">

    <select id="getRuleDetail" resultType="htms.QROrder.system.domain.RuleDetail">
        select
            sys_id ,
            link_sys_id ,
            option_cd ,
            option_nm ,
            option_data ,
            description
        from sys_rule_detail srd
        where 1=1
        and link_sys_id = #{sysId}
    </select>

    <insert id="newRuleDetail">
        insert into sys_rule_detail (
            sys_id ,
            link_sys_id ,
            option_cd ,
            option_nm ,
            option_data ,
            description,
            insert_user_id,
            insert_datetime
        )
        values
        <foreach collection="insertItems" item="item" separator=",">
            (
                #{item.sysId},
                #{item.linkSysId},
                #{item.optionCd},
                #{item.optionNm},
                #{item.optionData},
                #{item.description},
                #{userId},
                now()
            )
        </foreach>
    </insert>

    <update id="updateRuleDetail">
        <foreach collection="updateItems" item="item" separator=";">
            update sys_rule_detail set
                option_nm = #{item.optionNm},
                option_data = #{item.optionData},
                description = #{item.description},
                modify_user_id = #{userId},
                modify_datetime = now()
            where 1=1
            and sys_id = #{item.sysId}
        </foreach>
    </update>

    <delete id="delRuleDetail">
        update sys_rule_detail set
            delete_yn = 'Y',
            modify_user_id = #{userId},
            modify_datetime = now()
        where 1=1
        and sys_id in
        <foreach collection="delItems" item="item" open="(" separator="," close=")">
            #{item.sysId}
        </foreach>
    </delete>
</mapper>
